{% extends "panel.html" %}

{% load static %}

{% block panel-content %}

<div class="row content">
  {% include "includes/reporte-options.html" %}

  <div class="col-12 mt-4 ">
    <h4>Tus Ventas hasta hoy: <b style="font-size: 28px;">S/. {{ total_ventas }}</b></h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Num Ventas</th>
            <th>Venta Total</th>
            <th>Ganancia Total</th>
          </tr>
        </thead>
        <tbody>
          {% for venta in resumen_ventas_mes %}
          <tr>
            <td>{{ venta.sale__date_sale__date__month }} / {{ venta.sale__date_sale__date__year }}</td>
            <td>{{ venta.cantidad_ventas }}</td>
            <td>S/. <b> {{ venta.total_ventas }} </b></td>
            <td>S/. <b style="color: #01579b;"> {{ venta.ganancia_total }} </b></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock panel-content %}
