{% extends "panel.html" %}

{% load static %}

{% block panel-content %}

<div class="row content">
  {% include "includes/reporte-options.html" %}

  <form class="row g-3" method="GET">
    <div class="col-md-4">
      <label for="date_start">Fecha Inicio:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fi-calendar"></i></span>
        {{form.date_start}}
      </div>
    </div>
    <div class="col-md-4">
      <label for="date_end">Fecha Fin:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fi-calendar"></i></span>
        {{form.date_end}}
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-end">
      <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </div>
  </form>

  <div class="col-12 mt-4">
    <h4>Ventas en Rango de Fechas:</h4>
    <div>
      {% for venta in resumen_ventas %}
        <table class="table table-bordered mt-3">
          <thead class="table-success">
            <tr>
              <th>N° {{ venta.id }}</th>
              <th>Fecha: {{ venta.date_sale|date:'m/d/Y P' }}</th>
              <th>PAGO: {{ venta.get_type_payment_display }}</th>
              <th>COMPROBANTE: {{ venta.get_type_invoce_display }}</th>
              <th>CANTIDAD: {{ venta.count }}</th>
              <th>TOTAL: S/ {{ venta.amount }}</th>
            </tr>
          </thead>
        </table>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio Venta</th>
              <th>Cantidad</th>
              <th>Sub Total</th>
            </tr>
          </thead>
          <tbody>
            {% for detalle in venta.detail_sale.all %}
              <tr>
                <td>{{ detalle.product.name }}</td>
                <td>S/. {{ detalle.price_sale }}</td>
                <td>{{ detalle.count }}</td>
                <td>S/. {{ detalle.subtotal }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock panel-content %}
