{% extends "base.html" %}
{% load  static %}

{% block title %} Panel Principal {% endblock title %}

{% block content %}
{% include "includes/header.html" %}
<style>
  .sidebar {
      width: 250px;
      background-color: #4b4b4b;
      color: white;
      height: 100vh;
      position: fixed;
  }
  .sidebar a {
      color: white;
      display: block;
      padding: 5px;
      text-decoration: none;
  }
  .sidebar a:hover {
      background-color: #636b73;
  }
  .content {
    margin-left: 250px; /* Deja espacio para la barra de navegación */
    padding: 90px;
    width: 1034px; /* Ancho fijo */
    height: 768; /* Altura fija */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    background-color: #f8f9fa; /* Color de fondo para mejor visualización */

  }
  @media (max-width: 992px) {
    .sidebar {
      transform: translateX(-100%);
    }
    .content {
      margin-left: 0;
    }
  }
</style>
  <div class="sidebar nb-4">
    <div class="py-1">
    </div>
    <h5 class="text-center py-1 bg-warning mx-1 mt-3 text-dark ">Perfil</h5>
    <a href="{% url 'users_app:perfil' %}" class="text-center" style="color: white;">Inicio</a>
      {% if user.ocupation == "1" or user.ocupation == "0" or user.is_superuser %}
      <h5 class="text-center py-1 bg-warning mx-1 mt-3 text-dark ">Almacen</h5>

      <a href="{% url 'producto_app:producto-lista' %}" class="text-center" style="color: white;">Productos</a>
      <a href="{% url 'producto_app:producto-filtros' %}" class="text-center" style="color: white;">Reportes</a>
      {% endif %}
      {% if user.ocupation == "2" or user.ocupation == "0" or user.is_superuser %}
      <h5 class="text-center py-1 bg-warning mx-1 mt-3 text-dark ">Ventas</h5>
      <a href="{% url 'venta_app:venta-index' %}" class="text-center" style="color: white;">Vender</a>
      <a href="{% url 'caja_app:caja-index' %}" class="text-center" style="color: white;">Cerar Caja</a>
      {% endif %}
      {% if user.ocupation == "0" or user.is_superuser %}
      <h5 class="text-center py-1 bg-warning mx-1 mt-3 text-dark ">Administracion</h5>
      <a href="{% url 'home_app:index-admin' %}" class="text-center" style="color: white;">Administracion</a>
      <a class="text-center" href="{% url 'users_app:user-lista' %}" style="color: white;">Usuarios</a>
      <a href="{% url 'home_app:admin-reporte' %}" class="text-center" style="color: white;">Reportes</a>
      {% endif %}
    <hr>
  </div>
    {% block panel-content %}

    {% endblock panel-content %}


{% endblock content %}
