{% extends "panel.html" %}

{% load static %}

{% block panel-content %}

<div class="row  content">
  <div class="col-9 d-flex">
    <form class="col-md-6  input-group" method="POST">{% csrf_token %}
      <span class="input-group-text">COD/CAN:</span>
      {{ form.barcode }}
      {{ form.count }}
      <button type="submit" class="btn btn-secondary">Agregar</button>
    </form>
    <form class="col-md-3 px-2" action="{% url 'venta_app:venta-simple' %}" method="POST">{% csrf_token %}
      <button type="submit" class="btn btn-success w-100">
        <i class="bi bi-cart-fill"></i>
        <span>Pagar Todo</span>
      </button>
    </form>
    <div class="col-md-3 px-1">
      <a class="btn btn-outline-secondary w-100" href="{% url 'venta_app:venta-list' %}">
        <i class="bi bi-trash-fill"></i>
        <span>Ultimas Ventas</span>
      </a>
    </div>
  </div>

  <div class="row g-3 mt-4">
    <!-- contendor de la lista de productos en venta -->
    <div class="col-md-8">
      <h5>Productos en Venta</h5>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="200">COD</th>
              <th width="250">Nombres</th>
              <th width="120">Precio (S/)</th>
              <th width="100">Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            <tr>
              <td>{{ producto.barcode }}</td>
              <td>{{ producto.product.name }}</td>
              <td>{{ producto.product.sale_price }}</td>
              <td>{{ producto.count }}</td>
              <td>
                <form action="{% url 'venta_app:carshop-update' producto.id %}" method="POST">{% csrf_token %}
                  <button type="submit" class="btn btn-primary btn-sm">-</button>
                </form>
              </td>
              <td>
                <form action="{% url 'venta_app:carshop-delete' producto.id %}" method="POST">{% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm">X</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- contiene los resultados resltantes -->
    <div class="col-md-4">
      <div class="alert alert-success text-center">
        <h5>Total a Cobrar:</h5>
        <h2>S/ {{ total_cobrar }}</h2>
      </div>

      <form action="{% url 'venta_app:venta-simple' %}" method="POST">{% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">
          <i class="bi bi-credit-card-fill"></i>
          <span>Pagar Todo</span>
        </button>
      </form>

      <button data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn btn-success btn-lg w-100 mb-3">
        <i class="bi bi-printer-fill"></i>
        <span>Cobrar e Imprimir</span>
      </button>

      <form action="{% url 'venta_app:carshop-delete_all' %}" method="POST">{% csrf_token %}
        <button type="submit" class="btn btn-outline-danger w-100">
          <i class="bi bi-trash-fill"></i>
          <span>Limpiar Todo</span>
        </button>
      </form>
    </div>
  </div>

  <!-- modal para el cobrar con comprobante de pago -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalle del comprobante de pago</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'venta_app:venta-voucher' %}" method="POST">{% csrf_token %}
            <div class="mb-3">
              <label for="type_payment" class="form-label">Tipo de Pago:</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-credit-card-fill"></i></span>
                {{ form_voucher.type_payment }}
              </div>
              {% for error in form_voucher.type_payment.errors %}
              <div class="text-danger">
                {{ error|escape }}
              </div>
              {% endfor %}
            </div>
            <div class="mb-3">
              <label for="type_invoce" class="form-label">Tipo de Comprobante:</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-archive-fill"></i></span>
                {{ form_voucher.type_invoce }}
              </div>
              {% for error in form_voucher.type_invoce.errors %}
              <div class="text-danger">
                {{ error|escape }}
              </div>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-success w-100">Pagar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock panel-content %}
