{% extends "panel.html" %}

{% load static %}

{% block panel-content %}

<div class="row content">
    <h3 class="col-12 text-center">Últimas Ventas Registradas</h3>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Fecha</th>
                        <th>Cantidad Productos</th>
                        <th>Monto Total</th>
                        <th>Anular</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.date_sale }}</td>
                        <td>{{ venta.count }}</td>
                        <td>{{ venta.amount }}</td>
                        <td>
                            <a href="{% url 'venta_app:venta-delete' venta.id %}" class="btn btn-danger btn-sm">Anular</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock panel-content %}
