{% extends "panel.html" %}

{% load static %}

{% block panel-content %}

<div class="row content">
  <form class="row g-2" method="GET">
    <div class="col-12 input-group">
      <span class="input-group-text">Código o Nombre</span>
      <input class="form-control" type="text" id="kword" name="kword"
        value="{{ request.GET.kword }}"
        placeholder="Código o nombre...">
    </div>
    <div class="row g-2">
      <div class="col-md-12">
        <p class="col-12">Por Fecha de Vencimiento:</p>
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="date" name="date_start" id="date_start" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="date" name="date_end" id="date_end" class="form-control">
            </div>
        </div>
        <p class="col-12">Proveedor o Marca:</p>
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="text" name="provide" id="provider" class="form-control" placeholder="Proveedor...">
            </div>
            <div class="col-md-6">
                <input type="text" name="marca" id="marca" class="form-control" placeholder="Marca...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success w-100">Filtrar</button>
            </div>
        </div>
    </div>

    </div>

  </form>

  <div class="col-12 mt-4">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>COD</th>
            <th>
              {% if request.path == request.get_full_path %}
                <a href="{{ request.get_full_path }}?order=name">Nombres</a>
              {% else %}
                <a href="{{ request.get_full_path }}&order=name">Nombres</a>
              {% endif %}
            </th>
            <th>Precio Venta</th>
            <th>Precio Compra</th>
            <th>
              {% if request.path == request.get_full_path %}
                <a href="{{ request.get_full_path }}?order=stok">Stock</a>
              {% else %}
                <a href="{{ request.get_full_path }}&order=stok">Stock</a>
              {% endif %}
            </th>
            <th>
              {% if request.path == request.get_full_path %}
                <a href="{{ request.get_full_path }}?order=num">Ventas</a>
              {% else %}
                <a href="{{ request.get_full_path }}&order=num">Ventas</a>
              {% endif %}
            </th>
            <th>Vencimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
            <tr>
              <td>{{ producto.barcode }}</td>
              <td>{{ producto.name }}</td>
              <td>{{ producto.sale_price }}</td>
              <td>{{ producto.purchase_price }}</td>
              <td>{{ producto.count }}</td>
              <td>{{ producto.num_sale }}</td>
              <td>{{ producto.due_date }}</td>
              <td>
                <a href="{% url 'producto_app:producto-detail' producto.id %}" class="btn btn-warning btn-sm">Ver</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock panel-content %}
