{% extends "panel.html" %}

{% load  static %}

{% block panel-content %}

<div class="row content">
  <div class="col-9 d-flex">
    <form class="col-md-8 input-group" method="GET">
      <span class="input-group-text">COD</span>
      <input class="form-control" type="text" id="kword" name="kword" placeholder="nombre o codigo...">
      <button type="submit" class="btn btn-secondary">Buscar</button>
    </form>
    <div class="col-md-4 text-end">
      <a href="{% url 'producto_app:producto-add' %}" class="btn btn-success">Registrar Nuevo</a>
    </div>
  </div>

  <div class="col-12 d-flex mt-4 justify-content-start">
    <div class="me-3">
      <a href="?order=name">
        <span class="badge bg-warning">Por Nombre</span>
      </a>
    </div>
    <div class="me-3">
      <a href="?order=date">
        <span class="badge bg-secondary">Por Fecha</span>
      </a>
    </div>
    <div>
      <a href="?order=stok">
        <span class="badge bg-primary">Por Stok</span>
      </a>
    </div>
  </div>

  <div class="col-12 mt-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>COD</th>
          <th>Nombres</th>
          <th>Precio Venta</th>
          <th>Precio Compra</th>
          <th>Stok</th>
          <th>Num Ventas</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{producto.barcode}}</td>
            <td>{{producto.name}}</td>
            <td>{{producto.sale_price}}</td>
            <td>{{producto.purchase_price}}</td>
            <td>{{producto.count}}</td>
            <td>{{producto.num_sale}}</td>
            <td>
              <!-- <a href="{% url 'producto_app:producto-update' producto.id %}" class="btn btn-sm btn-outline-primary">Editar</a> -->
              <a href="{% url 'producto_app:producto-update' producto.id %}" class="btn btn-sm btn-primary">Editar</a>
              <a href="{% url 'producto_app:producto-detail' producto.id %}" class="btn btn-sm btn-warning">Ver</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock panel-content %}
